html {
  scroll-behavior: smooth;
  margin-bottom: 20px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.main {
}
.section{
  margin-top: 20px
}a.anchor {
    display: block;
    position: relative;
    top: -550px;
    visibility: hidden;
}
footer{
  background-color: black;
  position:fixed;
  bottom:0px;
  width: 100%;
  color: white;
  left:0px;
}
